Hardware/HOUZZkitF1_Tester_2nd/History/
Hardware/HOUZZkitF1_Tester_2nd/Project Logs for HOUZZkitF1_Tester_2nd/
Hardware/HOUZZkitF1_Tester_2nd/__Previews/
Hardware/HOUZZkitF1_Tester/Project Logs for HOUZZkitF1_Tester/
Hardware/HOUZZkitF1_Tester/History/


Firmware/HOUZZkitF1_Tester/.pio
Firmware/HOUZZkitF1_Tester/.vscode/.browse.c_cpp.db*
Firmware/HOUZZkitF1_Tester/.vscode/c_cpp_properties.json
Firmware/HOUZZkitF1_Tester/.vscode/launch.json
Firmware/HOUZZkitF1_Tester/.vscode/ipch
Firmware/HOUZZkitF1_Tester_GUI/HOUZZkitF1_Tester_GUI/autosave/
Firmware/HOUZZkitF1_Tester_GUI/HOUZZkitF1_Tester_GUI/backup/
